{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    <title>Feedback Admin Page</title>
{% endblock title %}

{% block history_content %}
<div class="container">
    <h2>Feedback from Customers</h2>
    {% if booked_tickets %}
        <div class="row">
            {% for item in booked_tickets %}
                {% if item.is_date %}
                    <div class="col-12 mb-4">
                        <h3>{{ item.date }}</h3>
                    </div>
                {% else %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ticket ID: {{ item.ticket.id }}</h5>
                                <h5 class="card-title">Image: 
                                    {% if item.ticket.img %}
                                        <img class="rounded-circle mt-5" width="220px" src="{% static item.ticket.img.url %}" alt="{{ item.ticket.name }}">
                                    {% else %}
                                        <h5>Not found image</h5>
                                    {% endif %} 
                                </h5>
                                <h5 class="card-title">Ticket Name: {{ item.ticket.name }}</h5>
                                <p class="card-text">Seat Number: {{ item.ticket.idSeatNumber }}</p>
                                <p class="card-text">Trip Name: {{ item.ticket.idTrip.name }}</p>
                                <h5 class="card-title">Ticket Status: {{ item.ticket.status }}</h5>
                                <h5 class="card-title">Booking Status: {{ item.booking.status }}</h5>
                                <a href="{% url 'feedback' trip_id=item.ticket.idTrip.id %}">Feedback</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No tickets have been booked yet.</p>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-auto action-link-wrap">
            <a onclick="history.back(-1)" class="btn btn-outline-primary me-2">
                <i class="bi bi-arrow-left"></i> Go Back
            </a>
            <a href="{% url 'home' %}" class="btn btn-primary">
                Go to Home Page <i class="bi bi-house"></i>
            </a>
        </div>
    </div>
</div>
{% endblock history_content %}
