{% extends "app/base.html" %}
{% load static %}
{% block title %}
    <title>About Us</title>
{% endblock title %}

{% block about_us %}
    <link rel="stylesheet" type="text/css" href="{% static "app/css/aboutUs.css" %}">
    <body>
        <div class="responsive-container-block bigContainer">
            <div class="responsive-container-block Container">
                <div class="imgContainer">
                    <img class="mainImg" src="{% static 'app/images/aboutus.jpg' %}">
                </div>
                <div class="responsive-container-block textSide">
                    <p class="text-blk heading">
                        About Us
                    </p>
                    <p class="text-blk subHeading">
                        We specialize in managing passenger transport services with a commitment to safety, reliability, and customer satisfaction. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus.
                    </p>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <div class="cardImgContainer">
                            <img class="cardImg" src="{% static 'app/images/safe.webp' %}">
                        </div>
                        <div class="cardText">
                            <p class="text-blk cardHeading">
                                Safe and Reliable
                            </p>
                            <p class="text-blk cardSubHeading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <div class="cardImgContainer">
                            <img class="cardImg" src="{% static 'app/images/customer.jpg' %}">
                        </div>
                        <div class="cardText">
                            <p class="text-blk cardHeading">
                                Customer Satisfaction
                            </p>
                            <p class="text-blk cardSubHeading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <div class="cardImgContainer">
                            <img class="cardImg" src="{% static 'app/images/efficient.png' %}">
                        </div>
                        <div class="cardText">
                            <p class="text-blk cardHeading">
                                Efficient Operations
                            </p>
                            <p class="text-blk cardSubHeading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <div class="cardImgContainer">
                            <img class="cardImg" src="{% static 'app/images/community.webp' %}">
                        </div>
                        <div class="cardText">
                            <p class="text-blk cardHeading">
                                Community Focused
                            </p>
                            <p class="text-blk cardSubHeading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <a href="{%url 'home' %}">
                        <button class="explore">
                            Back to home
                        </button>
                    </a>
                </div>
                <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
            </div>
        </div>
        <script src="" async defer></script>
    </body>
    </html>

    {% endblock about_us %}
