{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    <title>Search page</title>
{% endblock title %}

{% block search %}

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Notification</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="errorMessage"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <br>
    <h2>All trips that were searched</h2>
    <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="d-flex align-items-center mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="journeyType" id="oneWay" value="false" {%if journeyType == "false"%} checked {%endif%}>
                        <label class="form-check-label" for="oneWay">One-way</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="journeyType" id="roundTrip" value="true" {%if journeyType == "true"%} checked {%endif%}>
                        <label class="form-check-label" for="roundTrip">Round trip</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <a href="#" class="text-orange">Instructions for buying tickets</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <label for="departure">Start point</label>
                <select class="form-control" id="departure" name="departure">
                  <option value="">Choose start point</option>
                  {% for province_code, province_name in routes %}
                    <option value="{{ province_code }}" {% if departure == province_code %} selected {% endif %}>{{ province_name }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <div class="col-md-1">
                <img class="switch-location mt-4 mb-2" src="{% static 'app/images/switch.jpg' %}" alt="Switch Location">
              </div>
              
              <div class="col-md-2">
                <label for="destination">End point</label>
                <select class="form-control" id="destination" name="destination">
                  <option value="">Choose end point</option>
                  {% for province_code, province_name in routes %}
                    <option value="{{ province_code }}" {% if destination == province_code %} selected {% endif %}>{{ province_name }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <div class="col-md-2">
                <label for="departureDate">Date of departure</label>
                <input type="date" class="form-control" id="departureDate" name="departureDate" value="{{ departure_date }}">
            </div>
            <div class="returnDate col-md-2"  hidden>
                <label for="returnDate">Return date</label>
                <input type="date" class="form-control" id="returnDate" name="returnDate" value="{{ return_date }}">
            </div>
              <div class="col-md-2">
                <label for="numberOfTickets">Amount of tickets</label>
                <select class="form-select" id="numberOfTickets" name="numberOfTickets">
                  <option selected>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="button-63" role="button">Find trips</button>
        </div>
    </form>
    
    <h3>Departure Trips</h3>
    {% if trips %}
        <div class="row">
            {% for result in trips %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'booking' result.trip.id %}" class="text-decoration-none text-dark">
                                <h5 class="card-title">{{ result.trip.departure_name }} to {{ result.trip.ending_name }}</h5>
                                <p class="card-text">Date of Departure: {{ result.trip.departure_Time }}</p>
                                <p class="card-text">Available Tickets: {{ result.available_tickets }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No departure trips available matching your criteria.</p>
    {% endif %}

    <h3>Return Trips</h3>
    {% if return_trips %}
        <div class="row">
            {% for result in return_trips %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'booking' result.trip.id %}" class="text-decoration-none text-dark">
                                <h5 class="card-title">{{ result.trip.departure_name }} to {{ result.trip.ending_name }}</h5>
                                <p class="card-text">Date of Return: {{ result.trip.departure_Time }}</p>
                                <p class="card-text">Available Tickets: {{ result.available_tickets }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No return trips available matching your criteria.</p>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-auto action-link-wrap">
            <a onclick="history.back(-1)" class="btn btn-outline-primary me-2">
                <i class="bi bi-arrow-left"></i> Go Back
            </a>
            <a href="{% url 'home' %}" class="btn btn-primary">
                Go to Home Page <i class="bi bi-house"></i>
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const switchLocation = document.querySelector('.switch-location');
        const startPointInput = document.getElementById('departure');
        const endPointInput = document.getElementById('destination');

        switchLocation.addEventListener('click', function() {
            const startPointValue = startPointInput.value;
            startPointInput.value = endPointInput.value;
            endPointInput.value = startPointValue;
        });

        const roundTripRadio = document.getElementById('roundTrip');
        const returnDateDiv = document.querySelector('.returnDate');
        const oneWayRadio = document.getElementById('oneWay');
        function updateReturnDateVisibility() {
            if (roundTripRadio.checked) {
                returnDateDiv.removeAttribute('hidden');
            } else {
                returnDateDiv.setAttribute('hidden', '');
            }
        }
        roundTripRadio.addEventListener('change', function() {
            if (roundTripRadio.checked) {
                returnDateDiv.removeAttribute('hidden');
            } else {
                returnDateDiv.setAttribute('hidden', '');
            }
        });

        oneWayRadio.addEventListener('change', function() {
            if (oneWayRadio.checked) {
                returnDateDiv.setAttribute('hidden', '');
            } else {
                returnDateDiv.removeAttribute('hidden');
            }
        });
        updateReturnDateVisibility();
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
      {% if error_message %}
        var errorMessage = "{{ error_message }}";
        document.getElementById('errorMessage').innerText = errorMessage;
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
      {% endif %}
    });
  </script>
{% endblock search %}
